<div
  style="
    overflow-y: scroll;
    height: 36em;
    border-bottom: 1px solid #ddd;
    padding: 0 1.5em;
    padding-bottom: 3em;
  "
  infiniteScroll
  [infiniteScrollDistance]="2.5"
  [scrollWindow]="false"
  [infiniteScrollThrottle]="50"
  (scrolled)="nextPage()"
  [infiniteScrollDisabled]="!hasNextPage"
>
  <div
    style="display: flex; flex-direction: column; gap: 1.5em"
    *ngIf="activity$ | async as a"
  >
    <ng-container
      [ngSwitch]="activity.activityType"
      *ngFor="let activity of a; let i = index"
    >
      <ng-container *ngSwitchCase="activityType.userTask">
        <custom-media
          *ngIf="{
            parentUserTaskActivity: getParentUserTaskActivity(a, i)
          } as x"
          glyphicon="user"
          [headerTitle]="
            getUserFullName(
              x.parentUserTaskActivity?.user ||
                (activity.assignee && activity.user)
            )
          "
          [altHeaderTitle]="'NO_ASSIGN_USER_TASK' | translate"
          [headerSubTitle]="
            activity.endTime || activity.startTime | date : 'short'
          "
        >
          <div
            *ngIf="x.parentUserTaskActivity; else activitiyParentUserTask"
            [innerHTML]="
              'ACTIVITY_MOVES_TO'
                | translate
                  : {
                      parentActivityName: x.parentUserTaskActivity.activityName,
                      activityName: activity.activityName
                    }
            "
          ></div>

          <ng-template #activitiyParentUserTask>
            <div *ngIf="activityIdHasMultiInstanceBody(activity.activityId)">
              <ng-template
                [ngTemplateOutlet]="activityCompletedUserTaskRef"
              ></ng-template>
            </div>
          </ng-template>

          <ng-template #activityCompletedUserTaskRef>
            <div
              [innerHTML]="
                (activity.endTime ? 'END_ACTIVITY_FLOW' : 'START_ACTIVITY_FLOW')
                  | translate
                    : {
                        activityName: activity.activityName
                      }
              "
            ></div>
          </ng-template>
        </custom-media>
      </ng-container>

      <ng-template
        *ngSwitchCase="activityType.endEvent"
        [ngTemplateOutlet]="endEventTypeRef"
      ></ng-template>
      <ng-template
        *ngSwitchCase="activityType.noneEndEvent"
        [ngTemplateOutlet]="endEventTypeRef"
      ></ng-template>
      <ng-template #endEventTypeRef>
        <custom-media
          [headerTitle]="activity.activityName"
          [altHeaderTitle]="'END_ACTIVITY_EVENT_NAME' | translate"
          glyphicon="log-out"
          [headerSubTitle]="activity.startTime | date : 'short'"
        >
          <div
            [innerHTML]="
              'END_ACTIVITY_FLOW'
                | translate
                  : {
                      activityName: getSubProcessActivityName(activity)
                    }
            "
          ></div>
        </custom-media>
      </ng-template>

      <custom-media
        *ngSwitchCase="activityType.startEvent"
        [headerTitle]="activity.activityName"
        [altHeaderTitle]="'START_ACTIVITY_EVENT_NAME' | translate"
        glyphicon="log-in"
        [headerSubTitle]="activity.startTime | date : 'short'"
      >
        <div
          [innerHTML]="
            'START_ACTIVITY_FLOW'
              | translate
                : {
                    activityName: getSubProcessActivityName(activity)
                  }
          "
        ></div>
      </custom-media>

      <custom-media
        *ngSwitchCase="activityType.serviceTask"
        [altHeaderTitle]="'SERVICE_ACTIVITY_EVENT_NAME' | translate"
        [headerTitle]="activity.activityName"
        glyphicon="cog"
        [headerSubTitle]="activity.startTime | date : 'short'"
      >
      </custom-media>

      <custom-media
        *ngSwitchCase="activityType.businessRuleTask"
        [altHeaderTitle]="'BUSINESS_ACTIVITY_EVENT_NAME' | translate"
        [headerTitle]="activity.activityName"
        glyphicon="list-alt"
        [headerSubTitle]="activity.startTime | date : 'short'"
      >
      </custom-media>
    </ng-container>
  </div>
</div>

<custom-loading *ngIf="loading"></custom-loading>
