<ng-template #loadingRef>
  <custom-loading *ngIf="loading"></custom-loading>
</ng-template>

<ng-container *ngIf="activity$ | async as a; else loadingRef">
  <div
    style="
      height: 36em;
      display: flex;
      flex-direction: column;
      gap: 1.5em;
      overflow-y: scroll;
      border-bottom: 1px solid #ddd;
      padding: 0 1.5em;
      padding-bottom: 3em;
    "
    infiniteScroll
    [infiniteScrollDistance]="1"
    [scrollWindow]="false"
    [infiniteScrollThrottle]="50"
    (scrolled)="nextPage()"
    [infiniteScrollDisabled]="!hasNextPage"
    *ngIf="a.length > 0; else loadingRef"
  >
    <ng-container
      [ngSwitch]="activity.activityType"
      *ngFor="let activity of a; let i = index"
    >
      <ng-container *ngSwitchCase="activityType.userTask">
        <custom-media
          *ngIf="{
            parentUserTaskActivity: getParentUserTaskActivity(a, i)
          } as x"
          glyphicon="user"
          [headerTitle]="
            getUserFullName(
              activityIdHasMultiInstanceBody(activity.activityId)
                ? activity.user
                : x.parentUserTaskActivity?.user || activity.user
            )
          "
          [altHeaderTitle]="'NO_ASSIGN_USER_TASK' | translate"
          [headerSubTitle]="
            activity.endTime || activity.startTime | date : 'short'
          "
        >
          <div
            *ngIf="
              activityIdHasMultiInstanceBody(activity.activityId);
              else currentTaskRef
            "
          >
            <ng-template
              [ngTemplateOutlet]="endActivityRef"
              *ngIf="activity.completeScope; else startTaskRef"
            ></ng-template>
          </div>

          <ng-template #currentTaskRef>
            <div
              *ngIf="x.parentUserTaskActivity; else startTaskRef"
              [innerHTML]="
                'ACTIVITY_MOVES_TO'
                  | translate
                    : {
                        parentActivityName:
                          x.parentUserTaskActivity.activityName,
                        activityName: activity.activityName
                      }
              "
            ></div>
          </ng-template>

          <ng-template #startTaskRef>
            <div
              [innerHTML]="
                'START_ACTIVITY_FLOW'
                  | translate
                    : {
                        activityName: activity.activityName
                      }
              "
            ></div>
          </ng-template>
        </custom-media>
      </ng-container>

      <ng-template
        *ngSwitchCase="activityType.endEvent"
        [ngTemplateOutlet]="endEventTypeRef"
      ></ng-template>
      <ng-template
        *ngSwitchCase="activityType.noneEndEvent"
        [ngTemplateOutlet]="endEventTypeRef"
      ></ng-template>
      <ng-template #endEventTypeRef>
        <custom-media
          [headerTitle]="activity.activityName"
          [altHeaderTitle]="'END_ACTIVITY_EVENT_NAME' | translate"
          glyphicon="log-out"
          [headerSubTitle]="activity.startTime | date : 'short'"
        >
          <div
            [innerHTML]="
              'END_ACTIVITY_FLOW'
                | translate
                  : {
                      activityName: getSubProcessActivityName(activity)
                    }
            "
          ></div>
        </custom-media>
      </ng-template>

      <custom-media
        *ngSwitchCase="activityType.startEvent"
        [headerTitle]="activity.activityName"
        [altHeaderTitle]="'START_ACTIVITY_EVENT_NAME' | translate"
        glyphicon="log-in"
        [headerSubTitle]="activity.startTime | date : 'short'"
      >
        <ng-template [ngTemplateOutlet]="startActivityRef"></ng-template>
      </custom-media>

      <custom-media
        *ngSwitchCase="activityType.serviceTask"
        [altHeaderTitle]="'SERVICE_ACTIVITY_EVENT_NAME' | translate"
        [headerTitle]="activity.activityName"
        glyphicon="cog"
        [headerSubTitle]="activity.startTime | date : 'short'"
      >
      </custom-media>

      <custom-media
        *ngSwitchCase="activityType.businessRuleTask"
        [altHeaderTitle]="'BUSINESS_ACTIVITY_EVENT_NAME' | translate"
        [headerTitle]="activity.activityName"
        glyphicon="list-alt"
        [headerSubTitle]="activity.startTime | date : 'short'"
      >
      </custom-media>

      <ng-template #startActivityRef>
        <div
          [innerHTML]="
            'START_ACTIVITY_FLOW'
              | translate
                : {
                    activityName: getSubProcessActivityName(activity)
                  }
          "
        ></div>
      </ng-template>

      <ng-template #endActivityRef>
        <div
          [innerHTML]="
            'END_ACTIVITY_FLOW'
              | translate
                : {
                    activityName: activity.activityName
                  }
          "
        ></div>
      </ng-template>
    </ng-container>
  </div>

  <ng-template [ngTemplateOutlet]="loadingRef"></ng-template>
</ng-container>
