<div style="display: grid; gap: 1em">
  <ng-container
    [ngSwitch]="activity.activityType"
    *ngFor="let activity of activity$ | async as a; let i = index"
  >
    <ng-container *ngSwitchCase="activityType.userTask">
      <custom-card
        glyphicon="user"
        [headerTitle]="
          a.at(activity.parentUserTaskActivity)?.user
            ? a[activity.parentUserTaskActivity].user.firstName +
              ' ' +
              a[activity.parentUserTaskActivity].user.lastName
            : activity.user
            ? activity.user.firstName + ' ' + activity.user.lastName
            : ''
        "
        altHeaderTitle="No user was assigned to this task"
        headerSubTitle="{{
          activity.endTime || activity.startTime | date : 'short'
        }}"
      >
        <ng-container
          *ngIf="a[activity.parentUserTaskActivity] as p; else parentTask"
        >
          Moves <b>{{ p.activityName }}</b> to
          <b>{{ activity.activityName }}</b>
        </ng-container>

        <ng-template #parentTask>
          Start <b>{{ activity.activityName }}</b>
        </ng-template>
      </custom-card>
    </ng-container>

    <custom-card
      *ngSwitchCase="activityType.startEvent"
      [headerTitle]="activity.activityName || 'Start event'"
      glyphicon="log-in"
      headerSubTitle="{{ activity.endTime | date : 'short' }}"
    >
    </custom-card>

    <custom-card
      *ngSwitchCase="activityType.endEvent"
      [headerTitle]="activity.activityName || 'End event'"
      glyphicon="log-out"
      headerSubTitle="{{ activity.endTime | date : 'short' }}"
    >
    </custom-card>

    <custom-card
      *ngSwitchCase="activityType.serviceTask"
      [headerTitle]="activity.activityName || 'Service task'"
      glyphicon="cog"
      headerSubTitle="{{ activity.endTime | date : 'short' }}"
    >
    </custom-card>

    <custom-card
      *ngSwitchDefault
      [headerTitle]="activity.activityName || activity.activityId"
      glyphicon="list-alt"
      headerSubTitle="{{ activity.endTime | date : 'short' }}"
    >
    </custom-card>
  </ng-container>
</div>
