<div style="display: grid; gap: 1em">
  <ng-container
    [ngSwitch]="activity.activityType"
    *ngFor="let activity of activity$ | async as a"
  >
    <ng-container *ngSwitchCase="activityType.userTask">
      <custom-card
        *ngIf="activity.user as u"
        glyphicon="user"
        headerTitle="{{ u.firstName }} {{ u.lastName }}"
        headerSubTitle="{{ activity.startTime | date : 'short' }}"
      >
        <ng-container
          *ngIf="activity.parentUserTaskActivity as p; else parentTask"
        >
          Moves <b>{{ p.activityName }}</b> to
          <b>{{ activity.activityName }}</b>
        </ng-container>

        <ng-template #parentTask>
          Start <b>{{ activity.activityName }}</b>
        </ng-template>
      </custom-card>
    </ng-container>

    <custom-card
      *ngSwitchCase="activityType.startEvent"
      headerTitle="Start event"
      glyphicon="log-in"
      headerSubTitle="{{ activity.startTime | date : 'short' }}"
    >
      Start
    </custom-card>

    <custom-card
      *ngSwitchCase="activityType.endEvent"
      headerTitle="End event"
      glyphicon="record"
      headerSubTitle="{{ activity.startTime | date : 'short' }}"
    >
      End
    </custom-card>
  </ng-container>
</div>
